*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width:  955px;
  max-width:  95.5rem; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }
  .row.collapse > [class*="-col"] {
    padding-left: 0;
    padding-right: 0; }
  .row.collapse .row {
    margin-left: 0;
    margin-right: 0; }
  .row .row {
    width: auto;
    margin-left:  -7.5px;
    margin-left:  -0.75rem;
    margin-right:  -7.5px;
    margin-right:  -0.75rem;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none; }
    .row .row:before, .row .row:after {
      content: " ";
      display: table; }
    .row .row:after {
      clear: both; }
    .row .row.collapse {
      width: auto;
      margin: 0;
      max-width: none; }
      .row .row.collapse:before, .row .row.collapse:after {
        content: " ";
        display: table; }
      .row .row.collapse:after {
        clear: both; }

[class*="-col"] {
  padding-left:  7.5px;
  padding-left:  0.75rem;
  padding-right:  7.5px;
  padding-right:  0.75rem;
  width: 100%;
  float: left; }

[class*="-col"].align-right {
  float: right; }

[class*="-block"] {
  width: 100%;
  float: left;
  position: relative; }
  [class*="-block"]:before {
    content: "";
    padding-top: 100%;
    display: block; }
  [class*="-block"] .wrap {
    height: 100%;
    width: 100%;
    padding:  5px;
    padding:  0.5rem;
    position: absolute;
    left: 0;
    top: 0; }
  [class*="-block"] .content {
    height: 100%;
    width: 100%;
    overflow: hidden; }
  [class*="-block"] [class*="-col"] {
    height: 100%; }

@media only screen {
  .sm-push-col-0 {
    position: relative;
    left: 0%;
    right: auto; }

  .sm-pull-col-0 {
    position: relative;
    right: 0%;
    left: auto; }

  .sm-push-col-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .sm-pull-col-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .sm-push-col-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .sm-pull-col-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .sm-push-col-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .sm-pull-col-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .sm-push-col-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .sm-pull-col-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .sm-push-col-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .sm-pull-col-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .sm-push-col-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .sm-pull-col-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .sm-push-col-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .sm-pull-col-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .sm-push-col-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .sm-pull-col-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .sm-push-col-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .sm-pull-col-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .sm-push-col-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .sm-pull-col-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .sm-push-col-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .sm-pull-col-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }

  .sm-col-1 {
    width: 8.33333%;
    float: left; }

  .sm-col-2 {
    width: 16.66667%;
    float: left; }

  .sm-col-3 {
    width: 25%;
    float: left; }

  .sm-col-4 {
    width: 33.33333%;
    float: left; }

  .sm-col-5 {
    width: 41.66667%;
    float: left; }

  .sm-col-6 {
    width: 50%;
    float: left; }

  .sm-col-7 {
    width: 58.33333%;
    float: left; }

  .sm-col-8 {
    width: 66.66667%;
    float: left; }

  .sm-col-9 {
    width: 75%;
    float: left; }

  .sm-col-10 {
    width: 83.33333%;
    float: left; }

  .sm-col-11 {
    width: 91.66667%;
    float: left; }

  .sm-col-12 {
    width: 100%;
    float: left; }

  .sm-offset-col-0 {
    margin-left: 0% !important; }

  .sm-center-col-0 {
    width: 0%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .sm-offset-col-1 {
    margin-left: 8.33333% !important; }

  .sm-center-col-1 {
    width: 8.33333%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .sm-offset-col-2 {
    margin-left: 16.66667% !important; }

  .sm-center-col-2 {
    width: 16.66667%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .sm-offset-col-3 {
    margin-left: 25% !important; }

  .sm-center-col-3 {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .sm-offset-col-4 {
    margin-left: 33.33333% !important; }

  .sm-center-col-4 {
    width: 33.33333%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .sm-offset-col-5 {
    margin-left: 41.66667% !important; }

  .sm-center-col-5 {
    width: 41.66667%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .sm-offset-col-6 {
    margin-left: 50% !important; }

  .sm-center-col-6 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .sm-offset-col-7 {
    margin-left: 58.33333% !important; }

  .sm-center-col-7 {
    width: 58.33333%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .sm-offset-col-8 {
    margin-left: 66.66667% !important; }

  .sm-center-col-8 {
    width: 66.66667%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .sm-offset-col-9 {
    margin-left: 75% !important; }

  .sm-center-col-9 {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .sm-offset-col-10 {
    margin-left: 83.33333% !important; }

  .sm-center-col-10 {
    width: 83.33333%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .sm-offset-col-11 {
    margin-left: 91.66667% !important; }

  .sm-center-col-11 {
    width: 91.66667%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .sm-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left; }

  .show-sm-up {
    display: block; }

  .hide-sm-up {
    display: none; } }
@media only screen and (max-width: 40em) {
  .hide-sm {
    display: none; } }
@media only screen and (min-width: 40.063em) {
  .md-push-col-0 {
    position: relative;
    left: 0%;
    right: auto; }

  .md-pull-col-0 {
    position: relative;
    right: 0%;
    left: auto; }

  .md-push-col-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .md-pull-col-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .md-push-col-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .md-pull-col-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .md-push-col-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .md-pull-col-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .md-push-col-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .md-pull-col-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .md-push-col-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .md-pull-col-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .md-push-col-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .md-pull-col-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .md-push-col-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .md-pull-col-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .md-push-col-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .md-pull-col-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .md-push-col-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .md-pull-col-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .md-push-col-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .md-pull-col-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .md-push-col-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .md-pull-col-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }

  .md-col-1 {
    width: 8.33333%;
    float: left; }

  .md-col-2 {
    width: 16.66667%;
    float: left; }

  .md-col-3 {
    width: 25%;
    float: left; }

  .md-col-4 {
    width: 33.33333%;
    float: left; }

  .md-col-5 {
    width: 41.66667%;
    float: left; }

  .md-col-6 {
    width: 50%;
    float: left; }

  .md-col-7 {
    width: 58.33333%;
    float: left; }

  .md-col-8 {
    width: 66.66667%;
    float: left; }

  .md-col-9 {
    width: 75%;
    float: left; }

  .md-col-10 {
    width: 83.33333%;
    float: left; }

  .md-col-11 {
    width: 91.66667%;
    float: left; }

  .md-col-12 {
    width: 100%;
    float: left; }

  .md-offset-col-0 {
    margin-left: 0% !important; }

  .md-center-col-0 {
    width: 0%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .md-offset-col-1 {
    margin-left: 8.33333% !important; }

  .md-center-col-1 {
    width: 8.33333%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .md-offset-col-2 {
    margin-left: 16.66667% !important; }

  .md-center-col-2 {
    width: 16.66667%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .md-offset-col-3 {
    margin-left: 25% !important; }

  .md-center-col-3 {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .md-offset-col-4 {
    margin-left: 33.33333% !important; }

  .md-center-col-4 {
    width: 33.33333%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .md-offset-col-5 {
    margin-left: 41.66667% !important; }

  .md-center-col-5 {
    width: 41.66667%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .md-offset-col-6 {
    margin-left: 50% !important; }

  .md-center-col-6 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .md-offset-col-7 {
    margin-left: 58.33333% !important; }

  .md-center-col-7 {
    width: 58.33333%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .md-offset-col-8 {
    margin-left: 66.66667% !important; }

  .md-center-col-8 {
    width: 66.66667%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .md-offset-col-9 {
    margin-left: 75% !important; }

  .md-center-col-9 {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .md-offset-col-10 {
    margin-left: 83.33333% !important; }

  .md-center-col-10 {
    width: 83.33333%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .md-offset-col-11 {
    margin-left: 91.66667% !important; }

  .md-center-col-11 {
    width: 91.66667%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .md-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left; }

  .show-md-up {
    display: block; }

  .hide-md-up {
    display: none; } }
@media only screen and (min-width: 40.063em) and (max-width: 48em) {
  .hide-md {
    display: none; } }
@media only screen and (min-width: 48.063em) {
  .lg-push-col-0 {
    position: relative;
    left: 0%;
    right: auto; }

  .lg-pull-col-0 {
    position: relative;
    right: 0%;
    left: auto; }

  .lg-push-col-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .lg-pull-col-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .lg-push-col-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .lg-pull-col-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .lg-push-col-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .lg-pull-col-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .lg-push-col-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .lg-pull-col-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .lg-push-col-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .lg-pull-col-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .lg-push-col-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .lg-pull-col-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .lg-push-col-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .lg-pull-col-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .lg-push-col-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .lg-pull-col-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .lg-push-col-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .lg-pull-col-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .lg-push-col-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .lg-pull-col-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .lg-push-col-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .lg-pull-col-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }

  .lg-col-1 {
    width: 8.33333%;
    float: left; }

  .lg-col-2 {
    width: 16.66667%;
    float: left; }

  .lg-col-3 {
    width: 25%;
    float: left; }

  .lg-col-4 {
    width: 33.33333%;
    float: left; }

  .lg-col-5 {
    width: 41.66667%;
    float: left; }

  .lg-col-6 {
    width: 50%;
    float: left; }

  .lg-col-7 {
    width: 58.33333%;
    float: left; }

  .lg-col-8 {
    width: 66.66667%;
    float: left; }

  .lg-col-9 {
    width: 75%;
    float: left; }

  .lg-col-10 {
    width: 83.33333%;
    float: left; }

  .lg-col-11 {
    width: 91.66667%;
    float: left; }

  .lg-col-12 {
    width: 100%;
    float: left; }

  .lg-offset-col-0 {
    margin-left: 0% !important; }

  .lg-center-col-0 {
    width: 0%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .lg-offset-col-1 {
    margin-left: 8.33333% !important; }

  .lg-center-col-1 {
    width: 8.33333%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .lg-offset-col-2 {
    margin-left: 16.66667% !important; }

  .lg-center-col-2 {
    width: 16.66667%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .lg-offset-col-3 {
    margin-left: 25% !important; }

  .lg-center-col-3 {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .lg-offset-col-4 {
    margin-left: 33.33333% !important; }

  .lg-center-col-4 {
    width: 33.33333%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .lg-offset-col-5 {
    margin-left: 41.66667% !important; }

  .lg-center-col-5 {
    width: 41.66667%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .lg-offset-col-6 {
    margin-left: 50% !important; }

  .lg-center-col-6 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .lg-offset-col-7 {
    margin-left: 58.33333% !important; }

  .lg-center-col-7 {
    width: 58.33333%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .lg-offset-col-8 {
    margin-left: 66.66667% !important; }

  .lg-center-col-8 {
    width: 66.66667%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .lg-offset-col-9 {
    margin-left: 75% !important; }

  .lg-center-col-9 {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .lg-offset-col-10 {
    margin-left: 83.33333% !important; }

  .lg-center-col-10 {
    width: 83.33333%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .lg-offset-col-11 {
    margin-left: 91.66667% !important; }

  .lg-center-col-11 {
    width: 91.66667%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .lg-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left; }

  .show-lg-up {
    display: block; }

  .hide-lg-up {
    display: none; } }
@media only screen and (min-width: 48.063em) and (max-width: 64em) {
  .hide-lg {
    display: none; } }
@media only screen and (min-width: 64.063em) {
  .xl-push-col-0 {
    position: relative;
    left: 0%;
    right: auto; }

  .xl-pull-col-0 {
    position: relative;
    right: 0%;
    left: auto; }

  .xl-push-col-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .xl-pull-col-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .xl-push-col-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .xl-pull-col-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .xl-push-col-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .xl-pull-col-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .xl-push-col-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .xl-pull-col-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .xl-push-col-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .xl-pull-col-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .xl-push-col-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .xl-pull-col-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .xl-push-col-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .xl-pull-col-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .xl-push-col-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .xl-pull-col-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .xl-push-col-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .xl-pull-col-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .xl-push-col-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .xl-pull-col-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .xl-push-col-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .xl-pull-col-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }

  .xl-col-1 {
    width: 8.33333%;
    float: left; }

  .xl-col-2 {
    width: 16.66667%;
    float: left; }

  .xl-col-3 {
    width: 25%;
    float: left; }

  .xl-col-4 {
    width: 33.33333%;
    float: left; }

  .xl-col-5 {
    width: 41.66667%;
    float: left; }

  .xl-col-6 {
    width: 50%;
    float: left; }

  .xl-col-7 {
    width: 58.33333%;
    float: left; }

  .xl-col-8 {
    width: 66.66667%;
    float: left; }

  .xl-col-9 {
    width: 75%;
    float: left; }

  .xl-col-10 {
    width: 83.33333%;
    float: left; }

  .xl-col-11 {
    width: 91.66667%;
    float: left; }

  .xl-col-12 {
    width: 100%;
    float: left; }

  .xl-offset-col-0 {
    margin-left: 0% !important; }

  .xl-center-col-0 {
    width: 0%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .xl-offset-col-1 {
    margin-left: 8.33333% !important; }

  .xl-center-col-1 {
    width: 8.33333%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .xl-offset-col-2 {
    margin-left: 16.66667% !important; }

  .xl-center-col-2 {
    width: 16.66667%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .xl-offset-col-3 {
    margin-left: 25% !important; }

  .xl-center-col-3 {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .xl-offset-col-4 {
    margin-left: 33.33333% !important; }

  .xl-center-col-4 {
    width: 33.33333%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .xl-offset-col-5 {
    margin-left: 41.66667% !important; }

  .xl-center-col-5 {
    width: 41.66667%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .xl-offset-col-6 {
    margin-left: 50% !important; }

  .xl-center-col-6 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .xl-offset-col-7 {
    margin-left: 58.33333% !important; }

  .xl-center-col-7 {
    width: 58.33333%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .xl-offset-col-8 {
    margin-left: 66.66667% !important; }

  .xl-center-col-8 {
    width: 66.66667%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .xl-offset-col-9 {
    margin-left: 75% !important; }

  .xl-center-col-9 {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .xl-offset-col-10 {
    margin-left: 83.33333% !important; }

  .xl-center-col-10 {
    width: 83.33333%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .xl-offset-col-11 {
    margin-left: 91.66667% !important; }

  .xl-center-col-11 {
    width: 91.66667%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .xl-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left; }

  .show-xl-up {
    display: block; }

  .hide-xl-up {
    display: none; }

  .hide-xl {
    display: none; } }
/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8+, and Opera
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 10px; }

a {
  text-decoration: none; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

h1 {
  padding:  20px 0px 100px;
  padding:  2rem 0rem 10rem;
  margin: 0; }

nav {
  width: 100%;
  background-color: #EAFF87; }
  nav.fixed {
    position: fixed;
    top: 0;
    z-index: 9999; }
  nav.side {
    background-color: transparent;
    position: fixed; }
    nav.side ul {
      padding: 0;
      margin: 0;
      background-color: #EAFF87;
      text-align: left; }
    nav.side li {
      display: block; }
    nav.side a {
      line-height:  35px;
      line-height:  3.5rem; }
  nav ul {
    max-width: none;
    margin:  0px -20px;
    margin:  0rem -2rem;
    text-align: right; }
  nav li {
    display: inline-block; }
  nav a {
    padding:  0px 20px;
    padding:  0rem 2rem;
    color: #C60052;
    font-weight: bold;
    line-height:  50px;
    line-height:  5rem;
    display: block; }
    nav a.active {
      background-color: #ACFFE9; }

/*# sourceMappingURL=naveratops.css.map */
